.header {
  top: 0;
  border-bottom: 1px solid black;
  font-family: 'Ubuntu', sans-serif;
  background-color: #add8e6;
}

.footer {
  clear: both;
  bottom: 0;
  text-align: center;
  border-top: 1px solid black;
  font-family: 'Ubuntu', sans-serif;
  background-color: #add8e6;
}

.column-1 {
  float: left;
  width: 48%;
  display: inline-block;
  padding-right: 1em;
  border-right: 1px solid black;
}

.column-2 {
  float: right;
  display: inline-block;
  width: 48%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFBFF;
}